main:
  - identifier: home
    name: Home
    url: /
    weight: 1
    
  - identifier: archives
    name: Archives
    url: /archives/
    weight: 2
    
  - identifier: search
    name: Search
    url: /search/
    weight: 3
