main:
  - identifier: home
    name: Home
    url: /
    weight: 1
    params:
      icon: home

social:
  - identifier: github
    name: GitHub
    url: https://github.com/urfreein
    params:
      icon: brand-github
